html {
	margin: 0;
	padding: 0;
}

body {
	width: 90%;
	margin: 0 auto;
}

.clear {
	clear: both;
}

.grayText {
	color: gray;	
}

.yellowText {
	color: yellow;
}

.redText {
	color: red;
}

.strikeThrough {
	text-decoration: line-through;
}

#header {
	margin: 0 0 2em 0;
}

.topStr {
	height: 3em;
	font-size: 0.8em;
	padding: 0 2em;
	border: 0.05em solid green;
}

.topStr a {
	color: red;
	padding: 0 1em;
}

.topStr span a {
	color: white;
	background: red;
}

.leftStr {
	float: left;
}

.rightStr {
	float: right;
}

.mainProducts {
	width: 90%;
	margin: 0 auto;
	background: url(img/main.png);
	height: 16.1em;
	padding: 0 0 0 2em;
	background: url(img/main.png);
}

.productOverview {
	padding: 1.5em 1.5em 1em 1.5em;
	height: 9.9em;
	width: 17.5em;
	background: white;
	opacity: 0.8;
	color: red !important;
	font-size: 1.3em;
}

.productOverview h2,.productOverview h4 {
	font-weight: 100;
}

.productOverview h2 {
	text-transform: uppercase;
	line-height: 0.2;
}

.productOverview h4 {
	font-size: 0.85em;
	line-height: 0;
}

.productOverview p {
	color: black;
}

.productOverview p,.productOverview a {
	font-size: 0.7em;
}

.productOverview a {
	color: red;
	padding: 1.5em;
}

.productOverview button {
	background: red;
	padding: 0.3em 1em;
	color: white;
	font-weight: 900;
}

.topMenu {
	font-size: 0.7em;
	margin: 0;
	text-transform: uppercase;
	width: 99%;
	float: left;
	border: 0.05em solid gray;
	padding: 0 0 0 4em;
	display: block;
	font-weight: 700;
	position: static;
}

.topMenu li {
	text-align: center;
	float: left;
	padding: 1em 0.7em;
	width: 9.7em;
	display: inline-block;
	float: left;
}

.topMenu li a {
	color: red;
	text-decoration: none;
}

.logo {
	position: absolute;
	z-index: 2;
	left: 46.5%;
	top: 15em;
}

.shedulePhoneSearch {
	border: 0.05em solid gray;
	display: block;
	font-size: 0.8em;
	margin: 0 6.8% 0 3.5%;
	padding: 1em 1.5em;
	width: 91.7%;
	height: 5em;
}

.phone,.shedule {
	float: left;
}

.shedulePhoneSearch img {
	float: left;
}

.phone {
	padding: 0 1.5em 0 0.4em;
}

.phone span {
	line-height: 0.8;
	font-size: 1.8em;
}

.shedule span {
	font-weight: 700;
}

.search {
	display: inline;
	float: right;
}

.cartFavorites {
	background: red;
	margin: -1em 0 0 1.5em;
	float: right;
	width: 8em;
	height: 100%;
	padding: 1em;
	color: white;
}

#sidePanel {
	float: left;
	width: 30%;
	margin: 0 0 0 3.5em;
}

.itemsOfHalfPrice {
	text-transform: uppercase;
	color: red;
	width: 13em;
}

.itemsOfHalfPrice img {
	padding: 0.4em 0.4em 0 0;
	margin-bottom: -0.3em;
}

.sidebar {
	margin-top: 2em;
	width: 16em;	
}

.sidebar ul {
	font-size: 0.8em;
	padding: 0;	
}

.sidebar ul li {
	list-style-type: none;
	padding: 0.4em 0;
	border-bottom: 0.05em solid #D3D3D3;
}

.sidebar ul a {
	text-decoration: none;
	color: red;
}

.sidebar p {
	font-size: 1.1em;
	margin: 0;
	text-transform: uppercase;
}

.blockViewedProducts {
	margin: 1em 0 0 0;
}

.viewedProducts {
	margin: 0 0 1em 0;
}

.viewedProducts img {
	float: left;	
}

#content {
	margin: 0;
	padding-left: 3.5em;
}

#content h3 {
	padding: 0;
	margin: 0;
	text-transform: uppercase;
	font-weight: 200;
}

#content a {	
}

#content hr {
	color: gray;
	margin-right: 3em;
}

.welcome {
	font-size: 0.9em;
	padding-right: 4em;
}

.categoryOfGoods {
	font-size: 0.8em;
	width: 90em;
	display: inline;
}

.goods {
	float: left;
	width: 12.35em;
	border-right: 0.05em solid gray;
	margin: 1.8em 0;
	margin-right: 1em;
	padding-right: 1em;
}

.goods img {
	
}

.goods p {
	display: inline-block;
	height: 2.6em;
}

.goods p, .goods h4 {
	margin: 0;
}

.goods h4 {
	display: inline;	
}

.goods input {
	font-size: 0.9em;
	padding: 0 1.2em;
}

.brandNames img {
	padding: 1em 1.5em;
}

.news {

}

.news h3 {
	display: inline;
	float: left;
}
.news a {
	float: left;
}
.new {
	float: left;
	font-size: 0.8em;
	width: 17em;
	padding: 1em 0.5em;
}
#footer {
	width: 80%;
	height: 9em;
	clear: left;
	padding: 2em;
	position: relative;
	margin: 0 auto;
	font-size: 0.8em;
}
#footer img {
	padding: 0 1em;
}
.leftStr {
	float: left;
	width: 40%;
	height: 100%;
	margin-right: 4em;
}
.rightStr {
	clear: both;
	float: right;
	width: 40%;
}

.rightStr p {
	float: left;
	clear: both;
}
.counterYandex {
	position: absolute;
	right: 0;
	top: 3.5em;
}
.counterYandex img {
	padding: 0 !important;
}